* {
    margin: 0;
    outline: 0;

}

:root {
    --principal: #2B75E2;
    --black: #000;
    --neve: #fff;
}

.p1 {
    background-image: url("../img/banner.jpeg");
    text-height: 8rem;
    color: var(--neve);
}

.p1 {
    display: flex;
    padding: 1.5rem;
    font-weight: bold;
    justify-content: center;
    font-size: 40px;
}

header nav {
    display: flex;
    justify-content: space-around;
    background-color: var(--principal);
}

header nav ul {
    list-style-type: none;
    display: flex;
    width: 100%;
    justify-content: space-around;

}

header nav ul li {
    padding: 0.5rem;
    height: 100%;
    display: flex;
    justify-content: space-around;
    padding-inline: 5rem;
}

header nav ul li a {
    text-decoration: none;
    color: var(--neve);
    font-size: 22px;
    font-weight: bold;
}

h1.p1 {
    text-shadow: 0.1em 0.1em var(--black);
}

.texto {
    margin-left: 0.5rem;
    padding-left: 0.2rem;
}



#ap {
    padding-top: 1rem;
    font-size: 22px;
    font-weight: bold;
}

div {
    width: 100%;
    height: 100%;
}

p {
    margin: 0;
}

.lista h3 {
    padding-top: 1rem;
    font-size: 22px;
    font-weight: bold;
}

.lista li {
    list-style: upper-roman;
    text-align: start;
    padding: 0.3rem;
}

.quadradinho li {
    list-style-type: square;
}

main.tabela caption {
    margin-top: 1rem;
}

table {
    margin: auto;
    margin-bottom: 3rem;
    table-layout: fixed;
    width: 99%;
}

table tbody tr td.mat {
    text-align: left;
}

table tbody tr td {
    text-align: center;
}

table tr th,
table tr td {
    border: 0.1rem solid var(--black);
    padding: 1rem;
}

table {
    border-collapse: collapse;
}

section {
    margin: 0.5rem;
    height: 100vh;
}

section ol li {
    margin: 1rem;
}

.pergunta li a {
    text-decoration: none;
    color: var(--black);
}

#topo {
    overflow-y: hidden;
}

form {
    width: 200px;
}
.contato div{
    width: 100%;
}

#bot {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: var(--principal);
    color: var(--neve);
}

footer {

    color: var(--neve);
    background-color: var(--principal);
    width: 100%;
    position: fixed;
    bottom: 0%;
}